In [18]:
#library(IRkernel)

In [2]:
name<-"Hello"
name

[1] "Hello"

In [5]:
#install package
#install.packages("dslabs")

Installing package into ‘/home/jesuspacheco69jp/R/x86_64-pc-linux-gnu-library/4.3’
(as ‘lib’ is unspecified)

In [7]:
#library(dslabs)

In [17]:
# Install from CRAN
#install.packages("tidyverse")

Installing package into ‘/home/jesuspacheco69jp/R/x86_64-pc-linux-gnu-library/4.3’
(as ‘lib’ is unspecified)

also installing the dependencies ‘gargle’, ‘curl’, ‘systemfonts’, ‘textshaping’, ‘rmarkdown’, ‘selectr’, ‘stringi’, ‘broom’, ‘dbplyr’, ‘googledrive’, ‘googlesheets4’, ‘httr’, ‘modelr’, ‘ragg’, ‘reprex’, ‘rvest’, ‘stringr’, ‘tidyr’, ‘xml2’


Warning message in install.packages("tidyverse"):
“installation of package ‘curl’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘systemfonts’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘stringi’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘xml2’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘textshaping’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘httr’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘stringr’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘gargle’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘rmarkdown’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘selectr’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘ragg’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘tidyr’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘broom’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘dbplyr’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘googledrive’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘reprex’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘rvest’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘googlesheets4’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘modelr’ had non-zero exit status”
Warning message in install.packages("tidyverse"):
“installation of package ‘tidyverse’ had non-zero exit status”

In [4]:
#objects
#<- equals =
#workspace=stored objects
a <- 1
b <-1
c <- -1

In [5]:
a

[1] 1

In [7]:
print(a)

[1] 1

In [9]:
#workspace=stored objects
#check workspace
ls()

[1] "a" "b" "c"

In [13]:
#solve equation with pattern a2 +b2+c2=0
(-b + sqrt(b^2-4*a*c))/(2*a)

[1] 1.686141

In [12]:
(-b - sqrt(b^2-4*a*c))/(2*a)

[1] -1.618034

In [16]:
#functions
#Math-log
log(1024,base=4)

[1] 5

In [20]:
#nested funtion-functions that we can use within other functions,executed inside out
log(exp(1))

[1] 1

In [21]:
#specify arguments with = not <-
#base is argument
log(8,base=2)

[1] 3

In [22]:
#code document
?'+'

In [28]:
#prebuild datasets
#co2

In [29]:
#variables-cant have spaces and have to start with letter

In [34]:
#data types
#check datatype
class(a)
#data frames allows many data types to be put together
#str=structure not string
str(mtcars)
#obs=rows,variables=columns

[1] "numeric"

'data.frame':	32 obs. of  11 variables:
 $ mpg : num  21 21 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 ...
 $ cyl : num  6 6 4 6 8 6 8 4 4 6 ...
 $ disp: num  160 160 108 258 360 ...
 $ hp  : num  110 110 93 110 175 105 245 62 95 123 ...
 $ drat: num  3.9 3.9 3.85 3.08 3.15 2.76 3.21 3.69 3.92 3.92 ...
 $ wt  : num  2.62 2.88 2.32 3.21 3.44 ...
 $ qsec: num  16.5 17 18.6 19.4 17 ...
 $ vs  : num  0 0 1 1 0 1 0 1 1 1 ...
 $ am  : num  1 1 1 0 0 0 0 0 0 0 ...
 $ gear: num  4 4 4 3 3 3 3 4 4 4 ...
 $ carb: num  4 4 1 1 2 1 4 2 2 4 ...

In [36]:
#get first lines
head(mtcars,3)

              mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4     21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag 21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710    22.8 4   108   93 3.85 2.320 18.61 1  1  4    1

In [39]:
#acess variables,use $ <- Accessor
pop <- mtcars$mpg

In [40]:
#Vectors=rows,length=number of entries via vectors
length(pop)

[1] 32

#character vectors=used to store string

#logical vectors-boolean values

#== is a rational operator not posoitional

Factors store categorial data

Levels function allows you to view factors

In [1]:
#assignment 1
library(dslabs)
data(movielens)

In [2]:
str(movielens)

'data.frame':	100004 obs. of  7 variables:
 $ movieId  : int  31 1029 1061 1129 1172 1263 1287 1293 1339 1343 ...
 $ title    : chr  "Dangerous Minds" "Dumbo" "Sleepers" "Escape from New York" ...
 $ year     : int  1995 1941 1996 1981 1989 1978 1959 1982 1992 1991 ...
 $ genres   : Factor w/ 901 levels "(no genres listed)",..: 762 510 899 120 762 836 81 762 844 899 ...
 $ userId   : int  1 1 1 1 1 1 1 1 1 1 ...
 $ rating   : num  2.5 3 3 2 4 2 2 2 3.5 2 ...
 $ timestamp: int  1260759144 1260759179 1260759182 1260759185 1260759205 1260759151 1260759187 1260759148 1260759125 1260759131 ...

In [3]:
class(movielens$genres)

[1] "factor"

In [4]:
class(movielens$title)

[1] "character"

In [5]:
length(levels(movielens$genre))

[1] 901

In [6]:
#vectors-entries in dataframe
#create vectors using c()
code=c(italy=380,france=56,korea=333)

In [7]:
#can also use name(codes)<-country to connect two vectors
#seq() display sequence
#display vetors using []
code
class(code)
seq(1,25,5)
code[c(1,2)]
code[0:3]
code["italy"]

 italy france  korea
   380     56    333

[1] "numeric"

[1]  1  6 11 16 21

 italy france
   380     56

 italy france  korea
   380     56    333

italy
  380

In [8]:
#coercion-manipulate values to make it valid 
x <- c(1,"Canada",44)
x

[1] "1"      "Canada" "44"

In [9]:
num<- 1

In [10]:
#change number to char using as.character
#change char to number using as.numeric
#NA = missing data
num1=as.character(num)
class(num1)

[1] "character"

In [15]:
#sort()-sorts section
sort(mtcars$mpg)

 [1] 10.4 10.4 13.3 14.3 14.7 15.0 15.2 15.2 15.5 15.8 16.4 17.3 17.8 18.1 18.7
[16] 19.2 19.2 19.7 21.0 21.0 21.4 21.4 21.5 22.8 22.8 24.4 26.0 27.3 30.4 30.4
[31] 32.4 33.9

In [28]:
#order()-displays index of the order from lowest to highest
order(mtcars$mpg)
index <- order(sort(mtcars$mpg))
#order can also be used as an index
mtcars$disp[index]

 [1] 15 16 24  7 17 31 14 23 22 29 12 13 11  6  5 10 25 30  1  2  4 32 21  3  9
[26]  8 27 26 19 28 18 20

 [1] 160.0 160.0 108.0 258.0 360.0 225.0 360.0 146.7 140.8 167.6 167.6 275.8
[13] 275.8 275.8 472.0 460.0 440.0  78.7  75.7  71.1 120.1 318.0 304.0 350.0
[25] 400.0  79.0 120.3  95.1 351.0 145.0 301.0 121.0

In [22]:
#find max value in row
max(mtcars$disp)
#find vector with highest value
imax<- which.max(mtcars$disp)
imax
#can be used as index
mtcars$mpg[imax]
#same can be used for minimum using min

[1] 472

[1] 15

[1] 10.4

In [27]:
#rank()-gives postion in order
# numb.5 = two numbers share value,skips next number
rank(mtcars$mpg)

 [1] 19.5 19.5 24.5 21.5 15.0 14.0  4.0 26.0 24.5 16.5 13.0 11.0 12.0  7.5  1.5
[16]  1.5  5.0 31.0 29.5 32.0 23.0  9.0  7.5  3.0 16.5 28.0 27.0 29.5 10.0 18.0
[31]  6.0 21.5

In [29]:
title<-c(2,4,5,1,6,7,8,9,0)

In [30]:
rank(title)

[1] 3 4 5 2 6 7 8 9 1

In [32]:
pop<-order(title)

In [33]:
#return the index of the smallest value
pop[1]

[1] 9

In [34]:
#create or add to dataframe using data.frame()
#is.na()-find Missing Data
#use ! to drop data from is.na()

In [ ]:
# how to obtain the murder rate
#murder_rate <- murders$total / murders$population * 100000

# ordering the states by murder rate, in decreasing order
#murders$state[order(murder_rate, decreasing=TRUE)]

In [7]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse 2.0.0 ──
✔ forcats   1.0.0     ✔ readr     2.1.4
✔ ggplot2   3.4.2     ✔ stringr   1.5.0
✔ lubridate 1.9.2     ✔ tibble    3.2.1
✔ purrr     1.0.1     ✔ tidyr     1.3.0
── Conflicts ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [8]:
df=read_csv("starbucks.csv")

New names:
• `` -> `...1`
Rows: 77 Columns: 8
── Column specification ────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
Delimiter: ","
chr (2): item, type
dbl (6): ...1, calories, fat, carb, fiber, protein

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [14]:
head(df)

  ...1 item                        calories fat carb fiber protein type
1 1    8-Grain Roll                350       8  67   5     10      bakery
2 2    Apple Bran Muffin           350       9  64   7      6      bakery
3 3    Apple Fritter               420      20  59   0      5      bakery
4 4    Banana Nut Loaf             490      19  75   4      7      bakery
5 5    Birthday Cake Mini Doughnut 130       6  17   0      0      bakery
6 6    Blueberry Oat Bar           370      14  47   5      6      bakery

In [9]:
sor=sort(df$fat)

In [62]:
ord=order(sort(df$carb))

In [63]:
max=which.max(ord)
min=which.min(ord)

In [64]:
max
min

[1] 77

[1] 1

In [65]:
#finding max and min value with index works better with rank()
ranks=rank(df$protein)

In [66]:
max1=which.max(ranks)
min1=which.min(ranks)

In [67]:
max1
min1

[1] 74

[1] 5

In [68]:
df$item[max]
df$item[min]

[1] "Strawberry & Blueberry Yogurt Parfait"

[1] "8-Grain Roll"

In [69]:
df$item[max1]
df$item[min1]

[1] "Turkey & Swiss Sandwich"

[1] "Birthday Cake Mini Doughnut"

In [70]:
df

   ...1 item                                                    calories fat
1   1   8-Grain Roll                                            350       8
2   2   Apple Bran Muffin                                       350       9
3   3   Apple Fritter                                           420      20
4   4   Banana Nut Loaf                                         490      19
5   5   Birthday Cake Mini Doughnut                             130       6
6   6   Blueberry Oat Bar                                       370      14
7   7   Blueberry Scone                                         460      22
8   8   Bountiful Blueberry Muffin                              370      14
9   9   Butter Croissant                                        310      18
10 10   Cheese Danish                                           420      25
11 11   Chocolate Chunk Cookie                                  380      17
12 12   Chocolate Cinnamon Bread                                320      12
13 13   Chocolate Croissant                                     300      17
14 14   Chocolate Old-Fashioned Doughnut                        420      21
15 15   Chonga Bagel                                            310       5
16 16   Cinnamon Chip Scone                                     480      18
17 17   Cranberry Orange Scone                                  490      18
18 18   Double Chocolate Brownie                                410      24
19 19   Double Fudge Mini Doughnut                              130       7
20 20   Everything with Cheese Bagel                            280       2
21 21   Ginger Molasses Cookie                                  360      12
22 22   Iced Lemon Pound Cake                                   490      23
23 23   Mallorca Sweet Bread                                    420      25
24 24   Maple Oat Pecan Scone                                   440      18
25 25   Marble Pound Cake                                       350      13
26 26   Marshmallow Dream Bar                                   210       4
27 27   Morning Bun                                             350      16
28 28   Multigrain Bagel                                        300       3
29 29   Old-Fashioned Glazed Doughnut                           420      21
30 30   Outrageous Oatmeal Cookie                               370      14
⋮  ⋮    ⋮                                                       ⋮        ⋮
48 48   Sesame Noodles                                          350      11.0
49 49   Tuna Salad                                              380      21.0
50 50   Apple Pie                                               180       7.0
51 51   Birthday Cake Pop                                       170       9.0
52 52   Brown Sugar Walnut Tart                                 190      12.0
53 53   Cherry Pie                                              170       7.0
54 54   Chocolate Creme Whoopie Pie                             190      11.0
55 55   Chocolate Hazelnut Tart                                 180      10.0
56 56   Raspberry Truffle Cake Pop                              160       8.0
57 57   Red Velvet Whoopie Pie                                  190      11.0
58 58   Tiramisu Cake Pop                                       170       9.0
59 59   Bacon & Gouda Artisan Breakfast Sandwich                350      18.0
60 60   Chicken Sausage Breakfast Wrap                          300      10.0
61 61   Ham & Cheddar Artisan Breakfast Sandwich                350      16.0
62 62   Sausage & Cheddar Classic Breakfast Sandwich            500      28.0
63 63   Spinach & Feta Breakfast Wrap                           290      10.0
64 64   Starbucks Perfect Oatmeal                               140       2.5
65 65   Turkey Bacon & White Cheddar Classic Breakfast Sandwich 320       7.0
66 66   Veggie & Monterey Jack Artisan Breakfast Sandwich       350      18.0
67 67   Deluxe Fruit Blend                                       80       0.0
68 68   Chicken Santa Fe Panini                                 400      11.0
69 69   Egg Salad Sandwich                                      460      27.0
70 70   Ham & Swiss Panini                                      360       9.0
71 71   Roasted Tomato & Mozzarella Panini                      390      18.0
72 72   Roasted Vegetable Panini                                350      12.0
73 73   Tarragon Chicken Salad Sandwich                         420      13.0
74 74   Turkey & Swiss Sandwich                                 390      13.0
75 75   Greek Yogurt Honey Parfait                              300      12.0
76 76   Peach Raspberry Yogurt Parfait                          300       4.0
77 77   Strawberry & Blueberry Yogurt Parfait                   300       3.5
   carb fiber protein type
1  67   5     10      bakery
2  64   7      6      bakery
3  59   0      5      bakery
4  75   4      7      bakery
5  17   0      0      bakery
6  47   5      6      bakery
7  61   2      7      bakery
8  55   0      6      bakery
9  32   0      5      bakery
10 39   0      7      bakery
11 51   2      4      bakery
12 53   3      6      bakery
13 34   2      5      bakery
14 57   2      5      bakery
15 52   3     12      bakery
16 70   3      7      bakery
17 73   2      8      bakery
18 46   3      6      bakery
19 16   0      0      bakery
20 56   2     10      bakery
21 58   0      3      bakery
22 67   0      5      bakery
23 42   0      7      bakery
24 59   3      8      bakery
25 54   0      6      bakery
26 43   0      0      bakery
27 45   2      6      bakery
28 60   6     15      bakery
29 57   0      4      bakery
30 56   3      5      bakery
⋮  ⋮    ⋮     ⋮       ⋮
48 50   6     15      bistro box
49 25   5     23      bistro box
50 27   0      2      petite
51 22   0      0      petite
52 24   0      2      petite
53 24   0      2      petite
54 23   0      0      petite
55 23   0      2      petite
56 24   0      2      petite
57 21   0      0      petite
58 22   0      0      petite
59 30   0     17      hot breakfast
60 33   5     14      hot breakfast
61 31   0     20      hot breakfast
62 41   0     19      hot breakfast
63 33   6     19      hot breakfast
64 25   4      5      hot breakfast
65 43   3     18      hot breakfast
66 30   0     17      hot breakfast
67 20   2      0      salad
68 47   2     26      sandwich
69 37   5     22      sandwich
70 43   2     28      sandwich
71 44   3     15      sandwich
72 48   4     13      sandwich
73 46   6     32      sandwich
74 36   2     34      sandwich
75 44   0      8      parfait
76 57   3     10      parfait
77 60   3      7      parfait

In [1]:
name <- c("Mandi", "Amy", "Nicole", "Olivia")
distance <- c(0.8, 3.1, 2.8, 4.0)
time <- c(10, 30, 40, 50)

In [10]:
distance[4]/60

[1] 0.06666667

In [11]:
time[4]/60

[1] 0.8333333

In [24]:
#Notes May 17-Indexing
#select data to analyze
protein<-df$protein
#use logical operators to set limts
index<-protein <= 5
#print out matching results
protein[index]
#return number of matching entries
sum(index)

 [1] 5 0 5 4 5 5 0 3 5 0 4 5 0 4 5 4 2 0 2 2 0 2 2 0 0 5 0

[1] 27

In [27]:
#set up multipl
calories<-df$calories <=200
fat<-df$fat<=10

In [34]:
# set index using &
index=calories&fat
#foods with bot less than 200 claories and 10 grams of fat
foods<-df$item[index]
foods

 [1] "Birthday Cake Mini Doughnut" "Double Fudge Mini Doughnut"
 [3] "Petite Vanilla Bean Scone"   "Apple Pie"
 [5] "Birthday Cake Pop"           "Cherry Pie"
 [7] "Chocolate Hazelnut Tart"     "Raspberry Truffle Cake Pop"
 [9] "Tiramisu Cake Pop"           "Starbucks Perfect Oatmeal"
[11] "Deluxe Fruit Blend"

In [43]:
#which()-return index position of matches
which(index)
#returns index of Birthday Cake Mini Doughnut'
w<-which(df$item=="Birthday Cake Mini Doughnut")
#returns fat value of Birthday Cake Mini Doughnut'
df$fat[w]

 [1]  5 19 31 50 51 53 55 56 58 64 67

[1] 6

In [47]:
#use match(),create custom index to test
index<-match(c("Birthday Cake Mini Doughnut","Double Fudge Mini Doughnut","Tiramisu Cake Pop"),df$item)
index
#returns fat values of items
df$fat[index]

[1]  5 19 58

[1] 6 7 9

In [48]:
#%in% checks if subset is in larger dataframe
c("Birthday Cake Mini Doughnut","Double Fudge Mini Doughnut","Tiramisu Cake Pop") %in% df

[1] TRUE TRUE TRUE

In [50]:
index%in%fat

[1] FALSE FALSE FALSE

In [3]:
install.packages("dplyr")

Installing package into ‘/home/jesuspacheco69jp/R/x86_64-pc-linux-gnu-library/4.3’
(as ‘lib’ is unspecified)

In [5]:
library("dplyr")

change data frame-functions=mutate,filter,select.pipe

In [ ]:
#train on this info on saturday
library(dslabs)
data("murders")
murders <- mutate(murders, rate = total / population * 100000)

# subsetting with filter
filter(murders, rate <= 0.71)

# selecting columns with select
new_table <- select(murders, state, region, rate)

# using the pipe
murders %>% select(state, region, rate) %>% filter(rate <= 0.71)

# creating a data frame with stringAsFactors = FALSE
grades <- data.frame(names = c("John", "Juan", "Jean", "Yao"), 
                     exam_1 = c(95, 80, 90, 85), 
                     exam_2 = c(90, 85, 85, 90),
                     stringsAsFactors = FALSE)
data("murders")

# a simple scatterplot of total murders versus population
x <- murders$population /10^6
y <- murders$total
plot(x, y)

# a histogram of murder rates
murders <- mutate(murders, rate = total / population * 100000)
hist(murders$rate)

# boxplots of murder rates by region
boxplot(rate~region, data = murders)

In [ ]:
#notes 24 -practice on saturday
library(tidyverse)
library(dplyr)
library(dslabs)
data(murders)
murders <- mutate(murders, rate = total / population * 10^5)
# minimum, median, and maximum murder rate for the states in the West region
s <- murders %>% 
  filter(region == "West") %>%
  summarize(minimum = min(rate), 
            median = median(rate), 
            maximum = max(rate))
s
# accessing the components with the accessor $
s$median
s$maximum
# average rate unadjusted by population size
mean(murders$rate)
# average rate adjusted by population size
us_murder_rate <- murders %>% 
  summarize(rate = sum(total) / sum(population) * 10^5)
us_murder_rate
# minimum, median, and maximum murder rate for the states in the West region using quantile,quantile splits data into equal parts
# note that this returns a vector
murders %>% 
  filter(region == "West") %>%
  summarize(range = quantile(rate, c(0, 0.5, 1)))

# returning minimum, median, and maximum as a data frame
my_quantile <- function(x){
  r <-  quantile(x, c(0, 0.5, 1))
  data.frame(minimum = r[1], median = r[2], maximum = r[3]) 
}
murders %>% 
  filter(region == "West") %>%
  summarize(my_quantile(rate))
# the pull function can return it as a numeric value
us_murder_rate %>% pull(rate)

# using pull to save the number directly
us_murder_rate <- murders %>% 
  summarize(rate = sum(total) / sum(population) * 10^5) %>%
  pull(rate)
us_murder_rate
# using the dot to access the rate
us_murder_rate <- murders %>% 
  summarize(rate = sum(total) / sum(population) * 10^5) %>%
  .$rate
us_murder_rate
# group by region
murders %>% group_by(region)
# summarize after grouping
murders %>% 
  group_by(region) %>%
  summarize(median = median(rate))
# order the states by population size
murders %>% arrange(population) %>% head()
# order the states by murder rate - the default is ascending order
murders %>% arrange(rate) %>% head()
# order the states by murder rate in descending order
murders %>% arrange(desc(rate)) %>% head()
# order the states by region and then by murder rate within region
murders %>% arrange(region, rate) %>% head()
# return the top 10 states by murder rate
murders %>% top_n(10, rate)
# return the top 10 states ranked by murder rate, sorted by murder rate
murders %>% arrange(desc(rate)) %>% top_n(10)
#data.table

In [1]:
#to isolate and better index from a column put it in c()
install.packages("data.table")

Installing package into ‘/home/jesuspacheco69jp/R/x86_64-pc-linux-gnu-library/4.3’
(as ‘lib’ is unspecified)

In [2]:
library("data.table")

In [ ]:
# convert the data frame into a data.table object
murders <- setDT(murders)
# selecting in dplyr
select(murders, state, region)
# selecting in data.table - 2 methods
murders[, c("state", "region")] |> head()
murders[, .(state, region)] |> head()
# adding or changing a column in dplyr
murders <- mutate(murders, rate = total / population * 10^5)
# adding or changing a column in data.table
murders[, rate := total / population * 100000]
head(murders)
murders[, ":="(rate = total / population * 100000, rank = rank(population))]
# y is referring to x and := changes by reference
x <- data.table(a = 1)
y <- x
x[,a := 2]
y
y[,a := 1]
x
# use copy to make an actual copy
x <- data.table(a = 1)
y <- copy(x)
x[,a := 2]
y
# subsetting in dplyr
filter(murders, rate <= 0.7)
# subsetting in data.table
murders[rate <= 0.7]
# combining filter and select in data.table
murders[rate <= 0.7, .(state, rate)]
# combining filter and select in dplyr
murders %>% filter(rate <= 0.7) %>% select(state, rate)
# summarizing in dplyr
s <- heights %>% 
  summarize(average = mean(height), standard_deviation = sd(height))
  
# summarizing in data.table
s <- heights[, .(average = mean(height), standard_deviation = sd(height))]

# subsetting and then summarizing in dplyr
s <- heights %>% 
  filter(sex == "Female") %>%
  summarize(average = mean(height), standard_deviation = sd(height))
  
# subsetting and then summarizing in data.table
s <- heights[sex == "Female", .(average = mean(height), standard_deviation = sd(height))]

# previously defined function
median_min_max <- function(x){
  qs <- quantile(x, c(0.5, 0, 1))
  data.frame(median = qs[1], minimum = qs[2], maximum = qs[3])
}

# multiple summaries in data.table
heights[, .(median_min_max(height))]

# grouping then summarizing in data.table
heights[, .(average = mean(height), standard_deviation = sd(height)), by = sex]
# order by population
murders[order(population)] |> head()

# order by population in descending order
murders[order(population, decreasing = TRUE)] 

# order by region and then murder rate
murders[order(region, rate)]
# view the datasetmurders %>% group_by(region)

# see the class
murders %>% group_by(region) %>% class()

# compare the print output of a regular data frame to a tibble
gapminder
as_tibble(gapminder)

# compare subsetting a regular data frame and a tibble
class(murders[,1])
class(as_tibble(murders)[,1])

# access a column vector not as a tibble using $
class(as_tibble(murders)$state)

# compare what happens when accessing a column that doesn't exist in a regular data frame to in a tibble
murders$State
as_tibble(murders)$State

# create a tibble
tibble(id = c(1, 2, 3), func = c(mean, median, sd))

In [ ]:
#chapter4
# an example showing the general structure of an if-else statement
a <- 0
if(a!=0){
  print(1/a)
} else{
  print("No reciprocal for 0.")
}
# an example that tells us which states, if any, have a murder rate less than 0.5
library(dslabs)
data(murders)
murder_rate <- murders$total / murders$population*100000
ind <- which.min(murder_rate)
if(murder_rate[ind] < 0.5){
  print(murders$state[ind]) 
} else{
  print("No state has murder rate that low")
}
# changing the condition to < 0.25 changes the result
if(murder_rate[ind] < 0.25){
  print(murders$state[ind]) 
} else{
  print("No state has a murder rate that low.")
}
# the ifelse() function works similarly to an if-else conditional
a <- 0
ifelse(a > 0, 1/a, NA)
# the ifelse() function is particularly useful on vectors
a <- c(0,1,2,-4,5)
result <- ifelse(a > 0, 1/a, NA)
# the ifelse() function is also helpful for replacing missing values
data(na_example)
no_nas <- ifelse(is.na(na_example), 0, na_example) 
sum(is.na(no_nas))
# the any() and all() functions evaluate logical vectors
z <- c(TRUE, TRUE, FALSE)
any(z)
all(z)
# example of defining a function to compute the average of a vector x
avg <- function(x){
  s <- sum(x)
  n <- length(x)
  s/n
}

# we see that the above function and the pre-built R mean() function are identical
x <- 1:100
identical(mean(x), avg(x))

# variables inside a function are not defined in the workspace
s <- 3
avg(1:10)
s

# the general form of a function
my_function <- function(VARIABLE_NAME){
  perform operations on VARIABLE_NAME and calculate VALUE
  VALUE
}

# functions can have multiple arguments as well as default values
avg <- function(x, arithmetic = TRUE){
  n <- length(x)
  ifelse(arithmetic, sum(x)/n, prod(x)^(1/n))
}

In [ ]:
# creating a function that computes the sum of integers 1 through n
compute_s_n <- function(n){
  x <- 1:n
  sum(x)
}

# a very simple for-loop
for(i in 1:5){
  print(i)
}

# a for-loop for our summation
m <- 25
s_n <- vector(length = m) # create an empty vector
for(n in 1:m){
  s_n[n] <- compute_s_n(n)
}

# creating a plot for our summation function
n <- 1:m
plot(n, s_n)

# a table of values comparing our function to the summation formula
head(data.frame(s_n = s_n, formula = n*(n+1)/2))

# overlaying our function with the summation formula
plot(n, s_n)
lines(n, n*(n+1)/2)